.Background_images{
    width: 1632px;
    height: 1023px;
    background-repeat: no-repeat;
    background-image: url("../assets/background.svg");
    background-size: cover;
    background-position:  center ;
    position: relative;
    bottom: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
   
    
    }   

.About_background{

}